.pokemon-card-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* .get_details_button {
  color: #ffff;
} */

.pokemon-img {
  height: 200px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  /* width: 50%; */
  box-shadow: 0 8px 6px -6px black;

  
}
td,
th {
  border: 1px solid #dddddd;
  /* text-align: left; */
  /* padding: 8px; */
}

.table-container {
  /* display: flex;
  justify-content: center; */
  margin: 40px 0 10px 0;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  /* CSS */
}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
  /* CSS */
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* CSS */
}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
  /* CSS */
}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
